---
import Layout from "../layouts/base.astro";
---

<Layout>
    <main>
        <b>Spatial Webdesign</b><br>
        Leonie Ain<br>
        Steinkamp 1<br>
        24534 Neumünster<br>
        Deutschland<br>
        <br><br>
        Telefon: +49 (0)1520 – 7412666<br>
        Website: www.spatialwebdesign.com<br>
        E-Mail: hello@spatialwebdesign.com<br>
        <br><br>
        Technische Angaben<br>
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.<br>
        Alle hier verwendeten Namen, Begriffe, Zeichen und Grafiken können Marken- oder Warenzeichen im Besitze ihrer rechtlichen Eigentümer sein. Die Rechte aller erwähnten und benutzten Marken- und Warenzeichen liegen ausschließlich bei deren Besitzern.
        <p><a href="/" class="button">&larr; Back</a></p>
    </main>
</Layout>