---
import Layout from '../layouts/base.astro';
import { Icon } from 'astro-icon';
---

<Layout>
	<span id="right">
		<br><br>
		<span class="intro">We are a loose collective of webdesigners from Germany bringing you awesome websites for you to enjoy.</span>
		<br><br>
		<span class="intro">We think webdesign is art and should be treated as such.</span>
	</span>
	<div id="content">
		<h1 id="logo">Spatial<br>Webdesign</h1>
		<a href="mailto:hello@spatialwebdesign.com" id="contact">Contact</a>
		<br>
		<a href="https://twitter.com/spatialwebd" target="_blank" class="social"><Icon name="simple-icons:twitter"></Icon></a>
		<a href="https://norden.social/@spatialwebdesign" target="_blank" class="social"><Icon name="simple-icons:mastodon"></Icon></a>
	</div>
	<a href="/imprint" id="imprint">Imprint</a>
</Layout>