---
import Layout from '../layouts/base.astro';
import { Icon } from 'astro-icon';
---

<Layout>
	<span id="right">
		
	</span>
	<h1 id="logo">Spatial<br>Webdesign</h1>
	<a href="mailto:hello@spatialwebdesign.com" id="contact">Contact</a>
	<br>
	<a href="https://twitter.com/spatialwebd" target="_blank" class="social"><Icon name="simple-icons:twitter"></Icon></a>
	<a href="https://norden.social/@spatialwebdesign" target="_blank" class="social"><Icon name="simple-icons:mastodon"></Icon></a>
	<a href="/imprint" id="imprint">Imprint</a>
</Layout>