---
import Layout from '../layouts/base.astro';
import Intro from '../components/intro.astro';
import { Icon } from 'astro-icon';
---

<Layout>
	<span id="right">
		<Intro />
	</span>
	<div id="content">
		<h1 id="logo">Spatial<br>Webdesign</h1>
        <a href="mailto:hello@spatialwebdesign.com" class="button" id="contact">Contact</a>
        <br />
        <Intro />
	</div>
	<footer id="footer">
        <a href="/imprint">Imprint</a>
        <div id="socials">
            <a href="https://twitter.com/spatialwebd" target="_blank"><Icon name="simple-icons:twitter"></Icon></a>
            <a href="https://norden.social/@spatialwebdesign" target="_blank"><Icon name="simple-icons:mastodon"></Icon></a>
        </div>
    </footer>
</Layout>