@import "variables";
@import "../fonts/goethe/goethe.css";

body {
    background: $background;
    color: $foreground;
    font-family: Goethe, sans-serif;
    font-size: 16pt;
    overflow: hidden;
}

#logo {
    color: $pink;
    font-size: 100pt;
    padding: 20px;
    line-height: 1;
}

#lower {
    width: fit-content;
    text-align: center;
}

a {
    text-decoration: none;
    color: $dark-accent;
    transition-property: background-color;
    transition-duration: .25s;
    padding: .5rem;
    border-radius: $border-radius;

    &:hover {
        color: $accent;
    }
}

a:hover:not(.social) {
    text-decoration: underline;
}

#contact {
    margin-left: 20px;
    font-size: 60pt;
}

#right {
    float: right;
    height: 100vh;
    background: url("/banner.jpg");
    background-size: cover;
    background-position: center center;
    margin-top: -90px;
}

.intro {
    margin: 1rem;
    padding: .25rem;
    background: $secondary;
    color: $background;
}

svg {
    height: 24px;
}

#footer {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(50% - 20px * 2);

    & #socials {
        float: right;
        display: inline-block;
        vertical-align: middle;
    }
}