@import "variables";

.button {
  border: $dark-accent 1px solid;
  color: $foreground;
  padding: 8px;

  &:hover {
    background: $accent;
    color: $background;
    text-decoration: none !important;
  }
}
