@media(min-width:800px) {
    #right {
        width: 50%;
    }
    main {
        width: 50%;
        padding: 20px;
    }
    #content > .intro {
        display: none;
    }
}

@media(max-width:800px) {
    #right {
        display: none;
    }
    #logo {
        font-size: 48pt;
    }
    #content {
        text-align: center;

        & > .intro {
            padding-bottom: 0;
            margin-bottom: 0;

            &:last-child {
                margin-top: 0;
            }
        }
    }
    #lower {
        margin-left: auto;
        margin-right: auto;
    }
    #footer {
        width: calc(100% - 20px * 2);
        #socials {
            right: 0px;
        }
    }
}